<% provide(:title, "All Users") %>
　

  <div class="col-md-10 col-md-offset-1">
    <h1>ユーザ一覧</h1>
    
    <%= form_tag(users_path, method: :get, class: "form-inline text-right") do %>
      <div>
        <%= label_tag :search, "ユーザー名検索", class: "search-form-name" %>
      </div>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "キーワードを入力" %>
        <span class="input-group-btn">
          <%= submit_tag "検索", class: "btn btn-primary btn-search" %>
        </span>
      </div>
    <% end %>
      
    <%= will_paginate %>
    <table class="table table-condensed table-hover", id= "table-users">
      <thead>
        <tr>
          <th><%= User.human_attribute_name :name %></th>
        </tr>
      </thead>
      
      <% if @users.any? %>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user, class: "user-list" %></td>
          <td></td>
          <td></td>
          <td>
            <% if current_user.admin? && !current_user?(user) %>
              <%= link_to "基本情報編集", edit_basic_info_user_path(user), class: "btn btn-success table-btn" %>
              <%= link_to "削除", user_path(user), method: :delete,
                  data: { confirm: "#{user.name} を削除してよろしいですか？" }, class: "btn btn-danger table-btn" %>
　　　　　　<% end %>
          </td>
        </tr>
      <% end %>
      <% else %>
        <tr>
          <td colspan="4">該当するユーザーは見つかりませんでした。</td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate %>
  </div>
