<% provide(:title, @user.name) %>

<div>
  <table class="table table-bordered table-condensed text-center">
    <tr>
      <td class="col-lg-5">
        <div class="btn-users-show">
          <%= link_to "⇦ ", user_path(date: @first_day.prev_month), class: "btn btn-primary btn-sm" %>
          時間管理表
          <%= link_to " ⇨", user_path(date: @first_day.next_month), class: "btn btn-primary btn-sm" %>

        </div>
      </td>
      <td class="col-sm-3">指定勤続時間 : <%= format_basic_info(@user.work_time) %></td>
      <td class="col-sm-3">基本時間 : <%= format_basic_info(@user.basic_time) %></td>
      <td class="col-1">初日 : <%= l(@first_day, format: :short) %></td>
    </tr>
  </table>
  <table class="table table-bordered table-condensed table-user text-center">
    <tr>
      <td class="col-lg-5">所属 : <%= @user.department.present? ? @user.department : "未所属" %></td>
      <td class="col-md-3">氏名 : <%= @user.name %></td>
      <td class="col-1">コード</td>
      <td></td>
      <td class="col-sm-2">出勤日数 : <%= @worked_sum %> 日 </td>
      <td class="col-sm-1">締め : <%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<div>
  <%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary" %>
  <table class="table table-bordered table-striped table-condensed table-list">
    <thead>
      <tr>
        <th rowspan="2">日付</th>
        <th rowspan="2">曜日</th>
        <th colspan="8">出社</th>
        <th colspan="3">退社</th>
        <th rowspan="2">在社時間</th>
        <th rowspan="2">備考</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th colspan="6" class="table-cell"></th>
        <th>時</th>
        <th>分</th>
        <th></th>
      </tr>  
    </thead>
    
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td class="<%= day.worked_on.sunday? ? 'sunday' : (day.worked_on.saturday? ? 'saturday' : '') %>">
            <%= $days_of_the_week[day.worked_on.wday] %>
          </td>
          <td>
            <%= l(day.started_at&.change(min: (day.started_at.min / 15) * 15), format: :time_hour) if day.started_at.present? %>
          </td>
          <td>
            <%= l(day.started_at&.change(min: (day.started_at.min / 15) * 15), format: :time_minutes) if day.started_at.present? %>
          </td>
          <td>
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance btn-block" %>
            <% end %>
          </td>
          <td colspan="6">
            <%= l(day.finished_at&.change(min: (day.finished_at.min / 15) * 15), format: :time_hour) if day.finished_at.present? %>
          </td>
          <td>
            <%= l(day.finished_at&.change(min: (day.finished_at.min / 15) * 15), format: :time_minutes) if day.finished_at.present? %>
          </td>
          <td></td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at&.change(min: (day.started_at&.min / 15) * 15), 
                                            day.finished_at&.change(min: (day.finished_at&.min / 15) * 15)) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
       <tr>
        <td colspan="2">累計日数</td>
        <td colspan="11">総合勤務時間</td>
        <td>累計在社時間</td>
        <td rowspan="2"></td>
      </tr>
      <tr>
        <td colspan="2"><%= @attendances.count %></td>
          <% total_work_time = format_basic_info(@user.work_time).to_f * @worked_sum %>
          <% total_work_time = 0 if @worked_sum == 0 %>
        <td colspan="11"><%= total_work_time %></td>
        <td><%= format("%.2f", @total_working_times.to_f) %></td>
      </tr>
    </tfoot>
  </table>
</div>
