<% provide(:title, "attendace_edit") %>

<%= form_with(model: @user, url: attendances_update_one_month_user_path(date: @first_day),
  local: true, method: :patch) do |f| %>
  <div>
    <table class="table table-bordered table-striped table-condensed text-center">
      <thead>
        <tr>
          <td class="table-td-1">日付</td>
          <td class="table-td-1">曜日</td>
          <td class="table-td-2">出社</td>
          <td class="table-td-2">退社</td>
          <td class="table-td-3">在社時間</td>
          <td class="common-width">備考</td>
          <td class="common-width">残業指示</td>
          <td class="common-width">指示者</td>
        </tr>
      </thead>
      
      <tbody>
        <% @attendances.each do |day| %>
         <%= f.fields_for "attendances[]", day do |attendance| %>
          <tr>
            <td><%= l(day.worked_on, format: :short) %></td>
            <td class="<%= day.worked_on.sunday? ? 'sunday' : (day.worked_on.saturday? ? 'saturday' : '') %>">
              <%= $days_of_the_week[day.worked_on.wday] %>
            </td>
            <% if !current_user.admin? && (Date.current < day.worked_on) %>
              <td><%= attendance.time_field :started_at, readonly: true, class: "form-control" %></td>
              <td><%= attendance.time_field :finished_at, readonly: true, class: "form-control" %></td>
            <% else %>
              <td><%= attendance.time_field :started_at, class: "form-control" %></td>
              <td><%= attendance.time_field :finished_at, class: "form-control" %></td>
            <% end %>
            <td>
              <% if day.started_at.present? && day.finished_at.present? %>
                <%= working_times(day.started_at, day.finished_at) %>
              <% end %>
            </td>
            <td><%= attendance.text_field :note, class: "form-control" %></td>
            <td><%= attendance.text_field :note, class: "form-control" %></td>
            <td><%= attendance.text_field :note, class: "form-control" %></td>
          </tr>
         <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="text-center">
      <%= f.submit "編集を保存する", class: "btn btn-lg btn-primary" %>
      <%= link_to "キャンセル", user_path(date: @first_day), 
        class: "btn btn-default btn-lg" %>
  </div>
<% end %>  
